<h1>Listing forum_forums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Forumcategory</th>
  </tr>

<% @forum_forums.each do |forum_forum| %>
  <tr>
    <td><%=h forum_forum.name %></td>
    <td><%=h forum_forum.description %></td>
    <td><%=h forum_forum.priority %></td>
    <td><%=h forum_forum.ForumCategory %></td>
    <td><%= link_to 'Show', forum_forum %></td>
    <td><%= link_to 'Edit', edit_forum_forum_path(forum_forum) %></td>
    <td><%= link_to 'Destroy', forum_forum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New forum_forum', new_forum_forum_path %>