<p>
  <b>Title:</b>
  <%=h @news_post.title %>
</p>

<p>
  <b>Image:</b>
  <%=h @news_post.image %>
</p>

<p>
  <b>Contents:</b>
  <%=h @news_post.contents %>
</p>

<p>
  <b>User:</b>
  <%=h @news_post.user %>
</p>


<%= link_to 'Edit', edit_news_post_path(@news_post) %> |
<%= link_to 'Back', news_posts_path %>