<p>
  <b>User:</b>
  <%=h @forum_topic.user %>
</p>

<p>
  <b>Name:</b>
  <%=h @forum_topic.name %>
</p>

<p>
  <b>Forum category:</b>
  <%=h @forum_topic.forum_category %>
</p>


<%= link_to 'Edit', edit_forum_topic_path(@forum_topic) %> |
<%= link_to 'Back', forum_topics_path %>