<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html>
	<head>
		<title><%=h yield(:title) || 'Guild Website' %></title>
  		<%= stylesheet_link_tag 'scaffold', 'styles' %>
		<% # <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"> %> 
	</head>
	<body>
		<div class="container">
			<div style="width: 1000px">
				<div style="margin: 0px; padding: 0px; width: 700px; height: 100px; float: left; position: relative;">
					<p>Logo soon!</p>
				</div>
				<div style="float: right; height: 100px; width: 300px; text-align: right;">
					<p>Search Bar soon!</p>
				</div>
			</div>
			<div style="clear: both;" />
			
			<div> <% # todo: change this into a javascript dropdownmenu %>
				<div style="float: left; width: 400px;">
					 <%= link_to 'News', :controller => 'news_post' %> | <%= link_to 'Forum', :controller => :forum %>
				</div>
				<div style="float: right; width: 400px; text-align: right;">
					<%= render :partial => "users/user_bar.html.erb" %>
				</div>
			</div>
			
			<div style="clear: both;" />
			<div>
				<div style="float: left; padding-top: 10px; width: 700px; z-index: 100; ">
					<p style="color: green"><%= flash[:notice] %></p>
					<%= yield %>
				</div>
				<div style="float: right; width: 300px;">
					<div style="width: 300px; z-index: 100;">
						<p style="text-align: right">Sidebar soon</p>
					</div>
				</div>
			</div>
			<div style="clear: both;" />
			<div restriction="100px|*" style="padding: 30px 30px 30px;">
				<p style="text-align: center">
					Copyright Domia
				</p>
			</div>
		</div>
	</body>
</html>